extends layout

block content
  .flip-card
    .flip-card-inner
      .flip-card-front
        h1.title Christian Berggren Bäckström
      .flip-card-back
        h3 Jag är fin 
        h3 du är ful 
