extends layout

block content
  .flip-card
    .flip-card-inner
      .flip-card-front
        h1.title Christian Berggren Bäckström
      .flip-card-back
        p 070 123 45 67
        p christian@gmail.com
        p Your next and last programmer
